---
import InstagramIcon from "./InstagramIcon.astro";
import GithubIcon from "./GithubIcon.astro";
---
<footer class="footer footer-center p-4 text-base-content">
  <nav>
      <div class="grid grid-flow-col gap-4">
        <a href={`https://www.instagram.com/kyuda98`}><InstagramIcon /></a>
        <a href={`https://www.github.com/KucingLaut`}><GithubIcon/></a>
      </div>
      <p>Copyright © 2023 - All right reserved</p>
  </nav>
</footer>