---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="navbar bg-base-200 p-0">
    <div class="w-[90%] sm:w-[80%] mx-auto max-w-6xl">
        <nav class="navbar-start">
            <a href="/" class="font-bold text-lg">CatBlog</a>
        </nav>
        <nav class="navbar-center flex gap-8 justify-evenly">
            <a href="/blog/">Blog</a>
            <a href="/tags/">Tags</a>
        </nav>
        <nav class="navbar-end flex">
            <ThemeIcon />
        </nav>
    </div>
</div>