---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="navbar bg-base-200 p-0">
    <div class="w-[90%] sm:w-[80%] mx-auto max-w-[820px]">
        <nav class="navbar-start">
            <a href="/" class="font-bold text-lg">Catsual Blogging</a>
        </nav>
        <nav class="navbar-center flex gap-8 sm:gap-16 lg:gap-24 justify-evenly">
            <a href="/posts/">Posts</a>
            <a href="/tags/">Tags</a>
        </nav>
        <nav class="navbar-end flex">
            <ThemeIcon />
        </nav>
    </div>
</div>