---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const {pageTitle} = Astro.props
---
<html lang="en">
    <head>
        <title>{pageTitle ? `${pageTitle} | CatsualBlogging` : "CatsualBlogging"}</title>
        <script is:inline>
            if (localStorage.getItem("theme") === null) {
                document.documentElement.setAttribute("data-theme", "dark");
            } else
                document.documentElement.setAttribute(
                    "data-theme",
                    localStorage.getItem("theme")
            );
            </script>
        <script>
            import { themeChange } from 'theme-change';
            themeChange();
        </script>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <Header />
            <div class="flex-grow w-[90%] sm:w-[80%] mx-auto max-w-[820px] py-4">
                <slot />
            </div>
            <Footer />
        </div>
    </body>
</html>